<% @excel_sheet.each do |excel| %>
  <p><%=excel[:name]%></p>
  <div>
  <% excel.sheets.each do |sheet| %>
    <a href="<%= excel.id%>/sheets/<%=sheet.id%>"><%=sheet[:name]%></a>
  <% end %>
  </div>
<% end %>
