/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* SHERBET = #E26D5C*/
/* MINT = #C0E6DE */
/* LIGHTGREY = #C7D3DD */
/* WARMGREY = #D6C9C9 */
/* COOLGREY = ##E8EEF2 */

body {
  background: #E8EEF2;
}
h1,h2,h3,h4,h5,h6,
p {
  color: darkslategrey;
}

a:visited, 
a {
  text-decoration: none; 
  color: #E26D5C;
}

a:hover {
  font-weight: 800;
}

.navBar {
  height: 3em; 
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; 
  background: #C0E6DE;
  padding-right: 0.5%;
}

.navBar .navPath, 
.navBar .authLinks {
  display: flex; 
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: baseline; 
}


.navBar .navPath {
  padding: 1%;
}

.navPath a {
  padding-right: 10px;
}

.authLinks {
  width: 40%;
  font-size: 12px; 
}

.authLinks a {
  margin-left: 2%;
}


.flashAlert {
  color: red;
}

.container {
  width: 80%;
  margin: 0 auto;
}
