// Place all the styles related to the columns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav {
  display: flex;
  flex-flow: column wrap; 
  justify-content: space-between;
}

nav .radio-container {
  display: flex; 
  flex-flow: row nowrap;
  justify-content: center; 
  border: 1px solid darkslategrey;
}

.border {
  border: 1px solid black;
}

.content-row {
  width: 100%;
  display: flex; 
  flex-flow: row nowrap;
  align-items: baseline;
  @extend .border;

  .row-number {
    height: 100%;
    width: 1em;
    align-self: start; 
  }

  .text-container {
    border-left: 1px solid black;
    padding-left: 2%;
    margin: 0 auto; 
    width: 90%;
    display: flex; 
    flex-flow: row wrap; 
  }

  code {
    align-self: center;
    background: lightgrey;
  }

  .text, .code {
    align-self: baseline;
  }

}
