// Place all the styles related to the sheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sheetActionLinks {
  div {
    width: 10%;
    a {
      margin-right: 1%;
    }
  }
}


.sheetsList {
}



.columnsList {
  border-bottom: 1px solid black; 
  border-top: 1px solid black;  
}




