// Place all the styles related to the spreadsheet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.stream {
    .excelSheetContainer {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-content: baseline;
      align-items: center;

      .excelSheetActionLinks {
        display: flex;
        flex-flow: row nowrap;

        a {
          margin: auto 5%;
        }
      }
  }
}

#newExcelForm {
  display: flex; 
  flex-flow: column nowrap;
  input {
    margin: 2% auto;
  }
  form input[type="submit"] {
    width: auto;
  }
}

.instructions {
  margin-left: 5%;
  margin-bottom: 5%;
  display: flex; 
  flex-flow: column nowrap; 
}

.excelSheetEditForm {
  @extend #newExcelForm;

  form input#excel_sheet_name {
    width: 60%;
  }
}
