<div class="navBar">
  <div class="navPath">
    <%= breadcrumbs  display_single_fragment:false, link_current: true %>
  </div>
  <div class="authLinks">
    <% if current_user.nil?%>
      <%= link_to "Log In", new_user_session_path%>
    <% else %>
      <p>Welcome, <%= current_user.email%></p>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
    <% end %>
  </div>
</div>
